*{
    font-family: calibri;
    overflow: auto;
    box-sizing: border-box;
}

body{
    margin: 0px;
    min-width: 700px;
}

:root{
    --color1: rgb(64, 64, 102);
    --color2: #e7e7e7;
}

div.titre{
    background: url(cover.jpg) no-repeat center/cover;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.2);
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 8px;
    display: block;
}


img.titre_image{
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-top: 10px;
}

h1{
    color: white;
    text-align: center;
    font-size: 72px;
    margin: 0;
    position: relative;
}

h2{
    min-width: none;
    color: rgb(143, 143, 143);
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 20px 0;
    position: relative;
}

.cv a{
    font-size: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 20px;
    border: white solid;
    border-radius: 100px;
    padding: 0 8px;

}

div.link{
    left: 50%;
    margin-left: -25px;
    margin-bottom: 10px;
    position: relative; 
    width: 50px;
}

.titre p{
    text-align: center;
    font-size: 30px;
    margin: 10px 0 15px 0px;
}

div.resume{
    background-color: rgba(170, 170, 170, 0.301);
    position: relative;
    bottom: 0px;
    margin: 0 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.resume p{
    text-align: center;
    margin: 15px 50px;
    font-size: 18px;
}

div.coordonnees{
    position: absolute;
    background-color: rgba(170, 170, 170, 0.301);
    color: white;
    font-size: 16px;
    padding: 7px 15px;
    margin: 0;
    line-height: 200%;
    border-bottom-right-radius: 40px;

}

.coordonnees p{
    margin: 0;
}

.tv{
    width: 400px;
    display: block;
    left: 50%; 
    margin-left: -200px;
    position: relative; 
}

div.colonne_gauche{
    display: inline-block;
    width: 100%;
}

div.experience{
    overflow: visible;
    background-color: rgba(255, 255, 255, 1);
    margin: 0px 0 20px 0;
}

div.exp_gris{
    background-color: var(--color2);
    padding: 0px 0px 0px 0;
    margin: 0;    
}

.exp_gris h3{
    border-bottom:rgb(255, 255, 255) solid;
    margin: 0;
}

.exp_blanc p{
    padding: 0 50px;
}

.exp_gris p{
    padding: 0 50px;
}

div.exp_blanc{
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0;
}

.exp_blanc h3{
    border-bottom:var(--color2) solid;
    margin: 0;
    padding-left: 10px;
}

.intitule{
    font-size: 22px;
    padding: 0 50px 0 15px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.intitule_poste_gris{
    color: var(--color1);
    text-align: center;
    border-left:white solid;
    border-right:white solid;
    border-bottom:white solid;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.intitule_poste_blanc{
    color: var(--color1);
    text-align: center;
    border-left:var(--color2) solid;
    border-right:var(--color2) solid;
    border-bottom:var(--color2) solid;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.description{
    padding: 0 50px 0 15px;
    margin: 10 50px 0 15px
}


.logo{
    width: 50px;
    float:left
}

table.competence{
    width: 100%;
    border-left: white solid;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 20px;
}

.competence img{
    width:100%;
    padding: 0 20px
}

table.inter_gris{
    border: white;
    border-spacing: 0;
    width: 100%;
}

td.liste_gris{
    border: white solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 36px;
    padding:5px 5px;
    color:black;
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.431);
}

table.inter_blanc{
    border: white;
    border-spacing: 0;
    width: 100%;
}

td.liste_blanc{
    border-left: var(--color2) solid;
    border-top: var(--color2) solid;
    border-right: var(--color2) solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 36px;
    padding:5px 5px;
    color:black;
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgba(231, 231, 231, 0.431);
}

span.duree{
    padding-left: 8px;
    font-size: 12px;
    color: rgb(119, 119, 119);
}

div.dernier_bloc{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-right: 7px;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.2);
}

table.table{
    margin-left: auto;
    margin-right: auto;
}

div.dernier_bloc p{
    margin-top: 0;
}

div.dernier_bloc h3{
    margin-top: 4px;
    margin-bottom: 0;
}

.section{
    padding: 30px 40px 30px 40px;
    min-width: 360;
}



